::-webkit-scrollbar {
	width: 15px;
}

::-webkit-scrollbar-track {
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	background-color: #696b6c;
	border-radius: 20px;
	border: 6px solid transparent;
	background-clip: content-box;
    transition: background-color 0.3s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #434343;
}
